<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaolifang.mapper.UserMapper">

    <sql id="Base_Column_List">
        id,username,age
    </sql>

    <insert id="insert" parameterType="com.chaolifang.pojo.User">
        insert into User(username,age) values (#{username},#{age})
    </insert>
</mapper>