<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaolifang.mapper.UserMapper">

    <sql id="Base_Column_List">
        id,name,username,password,token,expireTime,loginTime
    </sql>

    <insert id="insert" parameterType="com.chaolifang.pojo.User">
        insert into t_user(username,password,token,loginTime,expireTime) values (#{username},#{password},#{token},#{loginTime},#{expireTime})
    </insert>

    <update id="update">
        update t_user set username = #{username},password = #{password},token = #{token},loginTime = #{loginTime},expireTime = #{expireTime} where id = #{id}
    </update>

    <select id="findByUsername" parameterType="java.lang.String" resultType="com.chaolifang.pojo.User">
        select * from t_user where username = #{username}
    </select>

    <select id="findByToken" resultType="com.chaolifang.pojo.User">
        select * from t_user where token = #{token}
    </select>

    <!--这个目前用不到,还没做单用户多角色的考虑以及角色的切换-->
    <select id="findAllRolesByUserId" resultType="com.chaolifang.pojo.Role">
        select a.* from t_role a
        inner join t_user_role b on a.id = b.role_id
        where b.user_id = #{userId}
    </select>

    <select id="findCurrentRoleByUserId" resultType="com.chaolifang.pojo.Role">
        select a.* from t_role a
        inner join t_user_role b on a.id = b.role_id
        where b.user_id = #{userId} and b.login_role = 1 limit 0,1
    </select>

    <select id="findAuthByCurrentRole" resultType="com.chaolifang.pojo.Auth">
        select a.* from t_auth a
        inner join t_role_auth b on a.id = b.auth_id
        where b.role_id = #{roleId}
    </select>
</mapper>